h1 {
  text-align: center;
  color: var(--colour-primary-500-contrast);
}

form {
  max-width: 25rem;
  margin: var(--space-8) auto;
  padding: var(--space-4);
  background-color: var(--colour-blue-700);
  border-radius: var(--border-radius-medium);
  text-align: center;
}

form a {
  color: var(--colour-primary-200);
}

form a:hover,
form a:active {
  color: var(--colour-primary-400);
}
