* {
  box-sizing: border-box;
}

html {
  font-family: 'Charis SIL', serif;

  --colour-blue-50: #e3f2fd;
  --colour-blue-100: #bbdefb;
  --colour-blue-200: #90caf9;
  --colour-blue-300: #64b5f6;
  --colour-blue-400: #42a5f5;
  --colour-blue-500: #2196f3;
  --colour-blue-600: #1e88e5;
  --colour-blue-700: #1976d2;
  --colour-blue-800: #1565c0;
  --colour-blue-900: #0d47a1;

  --colour-primary-50: #fff3e0;
  --colour-primary-100: #ffe0b2;
  --colour-primary-200: #ffcc80;
  --colour-primary-300: #ffb74d;
  --colour-primary-400: #ffa726;
  --colour-primary-500: #ff9800;
  --colour-primary-600: #fb8c00;
  --colour-primary-700: #f57c00;
  --colour-primary-800: #ef6c00;
  --colour-primary-900: #e65100;

  --colour-primary-200-contrast: #521d00;
  --colour-primary-500-contrast: #fff;

  --colour-error-100: #ffcdd2;
  --colour-error-500: #f44336;

  --colour-primary-500-bg: #90caf9;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--colour-blue-500);
  color: var(--colour-blue-50);
  margin: 0;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--colour-primary-400);
}

.btn {
  cursor: pointer;
  font: inherit;
  padding: var(--space-2) var(--space-6);
  background-color: var(--colour-primary-500);
  color: var(--colour-primary-500-contrast);
  border: 1px solid var(--colour-primary-500);
  border-radius: var(--border-radius-small);
}

.btn:hover,
.btn:active {
  background-color: var(--colour-primary-700);
  border-color: var(--colour-primary-700);
}
